<% layout('layout') %>
<% stylesheet('/stylesheets/about.css') %>

<main class="container-fluid p-5 py-5">
  <div class="text-center">
    <img src="/images/about.png" class="img-fluid" alt="about">
  </div>
  <p>
    喝酒網於2007年正式設立網路平台，並自2011年起陸續在台北開設銷售門市。我們致力於提供酒類相關產品的全面資訊以及價格的透明度。喝酒網的經營宗旨是將對產品來歷的謹慎關懷，以及對品質的堅持，轉化為我們的經營理念。所有酒類商品均來自各品牌總公司、進口代理商或授權經銷商，我們以成為最值得信任的來源、提供最齊全的品項、最實惠的價格以及最周到完善的服務為目標。
  </p>
  <p>
    喝酒網的網站和銷售門市不僅提供多元且全方位的酒類飲品資訊，還以透明化價格為您呈現選擇。我們自有車隊結合物流公司的宅配服務，使您能輕鬆選酒，同時享受迅速送達指定地點的便利，並在酒類資訊學習中獲得樂趣。
  </p>
  <p>
    喝酒網在您生活中的每一個時刻都能陪伴：從威士忌、白蘭地、調烈酒再到葡萄酒，喝酒網讓每個場合都更美好。不論是居家品酒、朋友聚會小酌、春酒尾牙、私人派對、大小型活動、日常及年節送禮，甚至是專業收藏等用途，我們提供商品推薦與量身訂做的專案服務，滿足不同需求。在酒類服務上，我們竭誠為您向各大酒廠或代理商洽詢，並彙集相關資訊與您分享。
  </p>
  <p>
    在這個資訊快速流通的時代，喝酒網透過即時商品推薦、主題專欄、美酒餐搭等各主題向您介紹。我們不定期推播品酒會、會員活動及節慶活動，期望拉近彼此間的距離，與大家一同體驗新鮮事物的生活品味。請記得追蹤我們的喝酒網官網以及社群平台：Facebook、Instagram、Twitter。
  </p>
  <p>
    喝酒網團隊的每位成員都秉持喜愛酒類的熱情，真摯地傳遞分享給您。
  </p>
  <p class="text-end mt-5">
    Where the night comes alive - 喝酒網，為您的夜晚注入活力
  </p>
</main>