<% layout('../layout') %>
<% stylesheet('/stylesheets/index/deliver.css') %>

<main class="container-fluid p-5">
  <!-- 標題 -->
  <div class="text-center">
    <h1>
      配送資訊
    </h1>
    <span>Delivery Information</span>
    <h3 class="m-5">
      全館滿兩千即免運
    </h3>
  </div>
  <!-- 運費 -->
  <div class="m-5">
    <p class="m-5">
      喝酒網全館滿 2000 元即免運！在家就可以享受最多元的選酒，品味佳釀，無限輕鬆 。<br>
      未滿兩千需要酌收包材及運費：
    </p>
    <ul class="m-5">
      <li>寄送本島運費為 $150。</li>
      <li class="mt-2">寄送離島運費為 $350 / 箱，依實際出貨箱數計算，不適用免運費優惠標準。</li>
      <li class="mt-2">部分酒款需冷藏出貨，則滿3000元免運費。</li>
      <li class="mt-2">目前尚無海外配送服務。</li>
    </ul>
  </div>
  <!-- 配合物流 -->
  <div class="m-5 border-top border-3">
    <h3 class="m-5">
      配合物流
    </h3>
    <ul class="m-5">
      <li>一般酒品宅配：黑貓常溫。</li>
      <li class="mt-2">紅酒 ：黑貓低溫宅配。</li>
      <li class="mt-2">為確保酒品及外觀完整性，目前尚無配合超商配送。</li>
    </ul>
  </div>
  <!-- 出貨說明／注意事項 -->
  <div class="m-5 border-top border-3">
    <h3 class="m-5">
      出貨說明／注意事項
    </h3>
    <ul class="m-5">
      <li>現貨平日下午 2 點前下單，當日出貨，下午 2 點之後下單，隔一工作日出貨。出貨後約 1~3 天到抵達，如有無法如期出貨之品項，將會以電話 / 信件等方式通知您。</li>
      <li class="mt-2">黑貓配送時間為週一至週六 08:00 - 18:00，時間將會依照您所選擇的時段進行配送，確切時間須依照黑貓物流業者當日之路況 / 車況 / 貨運量而定。</li>
      <li class="mt-2">重大國定假日 / 年節 / 中秋或天災（颱風 / 地震）物流業者將有可能延遲配送 ，煩請見諒。</li>
      <li class="mt-2">若您需開立「公司戶統編發票」，請在備註欄位填寫 公司抬頭統編，我們將隨貨寄出。</li>
    </ul>
  </div>


</main>