main {
    flex: 1;/* 讓 main 佔滿剩餘的空間 */
    background-color: rgba(251, 250, 247, 1);
}

.product-card-text {
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的文本 */
  
  }
  
  .card-title{
    font-family: 'Noto Serif TC', serif;
    color: black; /* 設定超連結文字顏色為黑色 */
  }
  
  .card-price{
    color: #A67A2B;
    font-family: 'Noto Serif TC', serif;
  }
  
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05); /* 這裡的值可以根據需要進行調整 */
  }